.app-confirm-dialog {
  background-color: white;
  min-height: 185px;
  max-height: 90vh;
  border-radius: 8px;


  .titlebar {
    min-height: 56px;
    padding: 18px 16px;
    background-color: #f0f4f8;
    font-size: 16px;
    color: #2b373b;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;

    .title {
      width: 100%;
      margin: 0;
      float: none;
    }
  }

  .messagebar {
    padding: 1em 2em;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    overflow-y: auto;
    font-weight: 300;
    background-color: #fff;
    color: #4a4a4a;
    border: 0;
    position: relative;
    background: 0;

    .message {
      font-size: 14px;
      font-weight: 300;
      color: #4a4a4a;
    }
  }

  .edit {
    .desktopSelector-uploader {
      display: none;
    }

    .p-grid {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .p-col-3 {
        box-sizing: border-box;
        width: 25%;
        flex: 0 0 auto;
        padding: 0.5rem;

        .header-info {
          position: relative;
          padding-top: 7px;
          margin-bottom: 20px;
          text-align: center;
          font-size: 16px;
          line-height: 20px;
          color: #2b373b;
        }
      }

      .p-col-9 {
        box-sizing: border-box;
        width: 75%;
        flex: 0 0 auto;
        padding: 0.5rem;

        ul {
          margin-top: 10px;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          list-style-type: none;

          li {
            position: relative;
            font-size: 14px;
            color: #004254;
            cursor: pointer;
            padding: 0 0 22px 27px;
            display: list-item;

            .uploadIcon {
              background-image: url("../../assets/img/subir.svg");
              font-size: 16px;
              width: 20px;
              height: 20px;
              position: absolute;
              top: 1px;
              left: 0;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
            }

            .deleteIcon {
              background-image: url("../../assets/img/eliminar.svg");
              font-size: 16px;
              width: 20px;
              height: 20px;
              position: absolute;
              top: 0;
              left: 0;
            }

            .edit {
              background-image: url("../../assets/img/edit.svg");
              font-size: 16px;
              background-size: cover;
              top: 7px;
              width: 20px;
              position: absolute;
              left: 7px;
              height: 20px;
            }

          }
        }

      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    text-align: right;
    position: relative;
    top: -1px;
    background-color: #fff;
    color: #4a4a4a;
    border: 0;
    padding: 0.571em 1em;
    flex-shrink: 0;

    .primary {
      margin: 0 0.5em 0 0;
      width: auto;
      background-color: #004254;
      padding: 0 1rem !important;
      font-size: 14px;
      letter-spacing: .15px;
      transition: background-color .35s, box-shadow .35s;
      display: inline-flex;
      align-items: center;
      height: 32px;
      border: none;
      color: #fff;
      border-radius: 3px;
      position: relative;
      text-decoration: none !important;
      cursor: pointer;
      text-align: center;
      overflow: visible;
    }

    .secondary {
      margin: 0 0.5em 0 0;
      width: auto;
      border: 1px solid #004254;
      color: #004254;
      background-color: transparent;
      padding: 0 1rem !important;
      font-size: 14px;
      letter-spacing: .15px;
      transition: background-color .35s, box-shadow .35s;
      display: inline-flex;
      align-items: center;
      height: 32px;
      position: relative;
      text-decoration: none !important;
      cursor: pointer;
      text-align: center;
      overflow: visible;
      border-radius: 3px;

    }
  }
}