<div class="navbar">
  <div class="container">
    <div class="icon-container">
      <a (click)="goToInitialPage()" class="icon">
        <img src="../../assets/img/logo3.jpg" class="logo" alt="">
      </a>
    </div>
    <div class="fecha-hora">
      <div class="hora">{{hora}}</div>
      <div class="fecha">
        <span class="fechaSemana">{{diaSemana}}</span>
        <span class="fechaDiaMesAño">{{diaMesAno}}</span>
      </div>
    </div>
    <div class="buttons">
      <span class="profile" (click)="showProfilePanel = !showProfilePanel"></span>
      <span class="ux-ui-log-out" (click)="openlogOutDialog()"></span>
    </div>

  </div>
</div>


<div class="profile-panel" [class.show]="showProfilePanel" #profilePanel>
  <div class="p-col-12 container">
    <h2 class="title">Información Personal</h2>
    <span class="close" (click)="showProfilePanel = !showProfilePanel"></span>
    <div class="p-grid">
      <div class="p-col-12">
        <div class="header-info">

          <!-- WITHOUT IMAGE -->
          <app-image-user *ngIf="photoURL === undefined || photoURL === null || photoURL === ''"
            [modelAttrName]="userData?.name" [modelAttrSurname]="userData?.surname"
            [modelAttrImage]="userData?.photoURL"></app-image-user>

          <!-- WITHOUT IMAGE -->


          <!-- WITH IMAGE -->
          <div *ngIf="photoURL !== undefined && photoURL !== null && photoURL !== ''" class="image">
            <img src="{{ photoURL }}">
          </div>
          <!-- WITH IMAGE -->

          <div class="editImage">
            <span class="edit" (click)="openEditDialog()"></span>
          </div>

          <p class="user">{{ displayName }}</p>

        </div>
      </div>
    </div>
    <div class="generics-body">
      <div class="tab-pane-intcontent" [style.height]="">
        <div class="body-info">
          <h3>Identificativo</h3>
          <div class="p-grid">
            <div class="p-col-12">
              <dl>
                <dt>Nombre</dt>
                <dd>{{ name }}</dd>
              </dl>
            </div>
            <div class="p-col-12">
              <dl>
                <dt>Apellidos</dt>
                <dd>{{ surname }}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="body-info">
          <h3>Contacto</h3>
          <div class="p-grid">
            <div class="p-col-12">
              <dl>
                <dt>Email</dt>
                <dd>{{email}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <input type="button" class="btn btnPrimary" value="Cambiar Contraseña" (click)="openChangePasswordDialog()" />
    </div>
  </div>
</div>