<div class="app-forgot-password">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="displayContent" id="displayContent">
        <div class="displayMessage">
          <img src="../../assets/img/logo.png" class="logo">
          <h3 class="title">¿Olvidó su contraseña?</h3>
          <div class="authBlock">

            <div class="formGroup email">
              <label for="email" class="labelEmail">Email</label>
              <input type="email" class="formControl inputEmail" placeholder="Email" id="passwordResetEmail" required
                [ngClass]="{'fieldObligatoryError': this.authService.showMessageError, 'fieldObligatory': this.noEmail, 'fieldOK': this.authService.showMessageOK }">

              <p class="fieldObligatoryError" *ngIf="this.authService.showMessageError">
                Email incorrecto o no encontrado.</p>
              <p class="fieldObligatory" *ngIf="this.noEmail">
                Introduzca un email.</p>
              <p class="fieldOK" *ngIf="this.authService.showMessageOK">
                Revise su correo electrónico para restablecer la contraseña</p>
            </div>
            <div class="formGroup button">
              <input type="submit" class="btn btnPrimary" value="Enviar" (click)="resetPassword()">
            </div>
          </div>
          <div class="redirectToLogin">
            <span class="redirect" style="cursor:pointer" *ngIf="fromLogin" routerLink="../list">
              Volver al home
            </span>
            <span class="redirect" style="cursor:pointer" *ngIf="!fromLogin" routerLink="../login">
              Volver al login
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>